.node {
  stroke: #fff;
  stroke-width: 1.5px;
}
svg {
    background-color: #F2FFFF;
}
circle {
    fill: #800000;
}
.link {
  stroke: #999;
  stroke-opacity: .6;
}

.node text {
  font: 9px helvetica;
}
Fieldset
{
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 10px;
}

Legend
{
    border: medium none;
    margin-left: 40%;
    padding: 0 10px;
    position: relative;
    text-align: center;
    width: auto;
    color: #3C6EAC;
    font-size: 28px;
    font-weight: bold;
}
.align-center {
    display: block;
    margin: 1.0em auto;
    text-align: center;
}

        .textClass {
            stroke: #323232;
            font-family: "Lucida Grande", "Droid Sans", Arial, Helvetica, sans-serif;
            font-weight: normal;
            stroke-width: .5;
            font-size: 14px;
        }
        label {
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    float: center;
    padding-top: 5px;
    text-align: right;
    width: 140px;
}
input {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    vertical-align:middle;
    margin-left:20px
}
.button-0 {
    position: relative;
    padding: 3px 4px;
    margin: 0px 10px 10px 0px;
    float: centre;
    border-radius: 5px;
    font-family: 'Helvetica', cursive;
    font-size: 15px;
    color: #FFF;
    text-decoration: none;  
    background-color: #3C6EAC;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    /* Animation */
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.button-0:hover, 
.button-0:focus {
    text-decoration: none;
    color: #fff;
}

.button-0:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}
body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}